body {
	margin-top: 95px;
	background-color: #7D869C;
	font-size: 20px;
	font-family: georgia;
	font-weight: 100;
	color: #B8D8D8;

}

h1
{
	text-align: center;
	color: #ECF8F8;
	font-family: georgia;
	font-weight: 100;

}

p
{
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	font-family: georgia;
	font-weight: 100;

}

img
{
	display: block;
	margin: auto;
	padding: 10px;
	border: 1px solid #ECF8F8;

}

hr
{
	color: #ECF8F8;
	padding: 2px;

}

a:link, a:visited
{
	color: #ECF8F8;
	text-decoration: none;
	padding: 15px 15px;
    text-align: center; 
}

a:hover, a:active
{
	background-color: #586994;
}