body {
	margin-top: 10px;
	background-color: #7D869C;
	font-size: 20px;
	font-family: georgia;
	font-weight: 100;
	color: #ECF8F8;

}

h1
{
	text-align: center;
	color: #ECF8F8;
	font-family: georgia;
	font-weight: 100;

}

h2
{
	text-align: center;
	color: #ECF8F8;
	font-family: georgia;
	font-weight: 100;

}

h3
{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-family: georgia;
	font-weight: 600;
	color: #ECF8F8;
}

h4
{
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	font-family: georgia;
	font-weight: 100;
	color: #ECF8F8;
}

h5
{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-family: georgia;
	font-weight: 100;
	color: #ECF8F8;
}

p
{
	margin-left: 0px;
	margin-right: 25px;
	font-family: georgia;
	font-weight: 100;

}

hr
{
	color: #ECF8F8;
	padding: 2px;

}

a:link, a:visited
{
	color: #ECF8F8;
	text-decoration: none;
	padding: 15px 15px;
    text-align: center; 
}

a:hover, a:active
{
	background-color: #586994;
}